<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd"
>

    <!-- 配置redis池，依次为最大实例数，最大空闲实例数，(创建实例时)最大等待时间，(创建实例时)是否验证 -->
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxTotal" value="10"/>
        <property name="maxIdle" value="5"/>
        <property name="maxWaitMillis" value="1000"/>
        <property name="testOnBorrow" value="1"/>
    </bean>

    <!-- redis连接配置，依次为主机ip，端口，是否使用池，(usePool=true时)redis的池配置 -->
    <bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <!--<property name="hostName" value="769da86688504c40.m.cnbja.kvstore.aliyuncs.com"/>-->
        <!--<property name="hostName" value="101.201.82.247"/>  &lt;!&ndash;公网ip&ndash;&gt;-->
        <property name="hostName" value="10.252.0.171"/>  <!--内网ip-->
        <!--<property name="hostName" value="101.200.206.78"/>-->
        <property name="port" value="6666"/>
        <property name="password" value="xiaolelog"/>
        <property name="usePool" value="true"/>
        <property name="poolConfig" ref="jedisPoolConfig"/>
    </bean>

    <bean id = "objRedisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
        <property name="connectionFactory" ref="jedisConnectionFactory"/>
        <property name="keySerializer">
            <bean class="org.springframework.data.redis.serializer.StringRedisSerializer"></bean>
        </property>
    </bean>


    <bean id = "strRedisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate">
        <property name="connectionFactory" ref="jedisConnectionFactory"/>
        <property name="keySerializer">
            <bean class="org.springframework.data.redis.serializer.StringRedisSerializer"></bean>
        </property>
    </bean>


    <!--<bean id = "ParentRedisAdapter" class="aibasis.centrol.user.ParentRedisAdapter">-->
        <!--<property name="ObjRedisTemplate" ref="objRedisTemplate"/>-->
        <!--<property name="StrRedisTemplate" ref="strRedisTemplate"/>-->
    <!--</bean>-->
    <bean id = "RedisAdapter" class="com.xiaole.redis.RedisAdapter">
        <property name="ObjRedisTemplate" ref="objRedisTemplate"/>
        <property name="StrRedisTemplate" ref="strRedisTemplate"/>
    </bean>
    <!--<bean id = "WeChatCommunManager" class="aibasis.centrol.pubandsubscribe.WeChatCommunManager">-->
        <!--<property name="ObjRedisTemplate" ref="objRedisTemplate"/>-->
        <!--<property name="StrRedisTemplate" ref="strRedisTemplate"/>-->
    <!--</bean>-->

    <context:component-scan base-package="java" />

</beans>

